@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@300;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Tajawal", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Tajawal", sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.main_container {
  /* margin: 30px; */
  padding: 20px;
  background-color: #002C53;
  background: linear-gradient(to bottom, 
  #002C53  100%,
  #2C3D8E 100%,
  #1F5CA9 100%);
  min-height: 100vh;
  direction:ltr;
}
.error_message {
  text-align: start;
  color: #e53b50;
}
